{% from "_formhelpers.html" import render_field %}
<!doctype html>
<head>
	<title>party wave | get your sesh on without the crowd</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/select2.min.js"></script>
	<link href="/static/select2.min.css" rel="stylesheet">
	<link href="/static/partywave.css" rel="stylesheet">
	<script>
	$(document).ready(function() {
    $('.spot-select').select2();
    $('.area-select').select2();
	});
	</script>
	{% if map %}
	<script>
	var icons, markers;
	function initMap() {
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      center: {lat: {{ map.center_lat }}, lng: {{ map.center_lon }}},
      zoom: 12,
      mapTypeId: 'roadmap'
    });
    map.setTilt(45);
    var sw_corner = new google.maps.LatLng({{ map.min_lat }},{{ map.min_lon }});
    var ne_corner = new google.maps.LatLng({{ map.max_lat }},{{ map.max_lon }});
    var bounds = new google.maps.LatLngBounds(sw_corner, ne_corner);
    map.fitBounds(bounds);
    markers = JSON.parse('{{ map.coords_list | tojson | safe }}');
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    icons = {
    	'Sparse': 'static/blue.png',
    	'🎊 Party 🎉': 'static/yellow.png', 
    	'Gnarly': 'static/red.png', 
    	'N/A': 'static/grey.png'}
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i]['lat'], markers[i]['lon']);
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            icon: icons[markers[i]['crowd']] 
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                // infoWindow.setContent(markers[i]['crowd']);
                infoWindow.setContent('<b>' + markers[i]['name'] + '</b><br>' + markers[i]['crowd']);
                infoWindow.open(map, marker);
            }
        })(marker, i));
    }
	}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
	{% endif %}
</head>

<div class='container-fluid'>
	<div class='row d-flex justify-content-center'>
		<div class='col mt-5 mb-5'>
			<h1>🎉 Party Wave 🌊</h1>
		</div>
	</div>

	<div class='row d-flex justify-content-center'>

		<div class="col mt-10">
			<div class="col-12">
				<form action="{{ url_for('spot') }}" method="post">
					Enter a spot:
					<select class="select-size-xs spot-select" name="spot_id">
						<option></option>
	          {% for choice in form.spot_id.choices %}
	          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
	          {% endfor %}
			    </select>
					<input type="submit" value="Submit">
				</form>
		  </div>

		  <br>

		  <div class="col-12">
				<form action="{{ url_for('area') }}" method="post">
					Or, select an area:
					<select class="select-size-xs area-select" name="area_id">
						<option></option>
	          {% for choice in form.area_id.choices %}
	          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
	          {% endfor %}
			    </select>
					<input type="submit" action="{{ url_for('area') }}" value="Submit">
				</form>
		  </div>
		</div>

	</div>

	<br>

	{% if area %}
	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
			<table class="table">
				<thead>
					<td>Name</td>
					<td>Location</td>
					<td>Height</td>
					<td>Tide</td>
					<td>Crowd</td>
				</thead>
				<tbody>
					{% for spot in area %}
					<tr>
						<td id='spot-name'>{{ spot.name }}</td>
						<td id='spot-location'>{{ spot.location }}</td>
						<td id='spot-height'>{{ spot.height }}</td>
						<td id='spot-tide'>{{ spot.tide }}</td>
						<td id='spot-crowd'>{{ spot.crowd }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
		  <div id="map_wrapper">
		    <div id="map_canvas" class="mapping"></div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if spot %}
	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
			<table class="table">
				<tbody>
			    <tr>
			      <th id='spot-name'>Spot</th>
				    <td>{{ spot.name }}</td>
				  </tr>
			    <tr>
			      <th id='spot-location'>Location</th>
				    <td>{{ spot.location }}</td>
				  </tr>
			    <tr>
			      <th id='spot-height'>Height</th>
				    <td>{{ spot.height }}</td>
				  </tr>
			    <tr>
			      <th id='spot-tide'>Tide</th>
				    <td>{{ spot.tide }}</td>
				  </tr>
			    <tr>
			      <th id='spot-crowd'>Crowd</th>
				    <td>{{ spot.crowd }}</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	{% if spot.video != 'N/A' %}
	<video width="720" height="480" video controls loop autoplay>
  	<source src="{{ spot.video }}" type="video/mp4">
	</video>
	{% endif %}
	{% endif %}
</div>


</div>
