{% from "_formhelpers.html" import render_field %}
<!doctype html>
<html>
<head>
	<title>party wave | get your sesh on without the crowd</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='select2.min.js') }}"></script>
	<link href="{{ url_for('static', filename='select2.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='partywave.css') }}" rel="stylesheet">
	<script>
	$(document).ready(function() {
    $('.spot-select').select2();
    $('.area-select').select2();
	});
	</script>
	{% if map %}
	<script>
	var icons, markers;
	function initMap() {
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      center: {lat: {{ map.center_lat }}, lng: {{ map.center_lon }}},
      zoom: 12,
      mapTypeId: 'roadmap'
    });
    map.setTilt(45);
    var sw_corner = new google.maps.LatLng({{ map.min_lat }},{{ map.min_lon }});
    var ne_corner = new google.maps.LatLng({{ map.max_lat }},{{ map.max_lon }});
    var bounds = new google.maps.LatLngBounds(sw_corner, ne_corner);
    map.fitBounds(bounds);
    markers = JSON.parse('{{ map.coords_list | tojson | safe }}');
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    icons = {
    	'Sparse': "{{ url_for('static', filename='blue.png') }}",
    	'🎊 Party 🎉': "{{ url_for('static', filename='yellow.png') }}", 
    	'Gnarly': "{{ url_for('static', filename='red.png') }}", 
    	'N/A': "{{ url_for('static', filename='grey.png') }}"}
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i]['lat'], markers[i]['lon']);
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            icon: icons[markers[i]['crowd']] 
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                // infoWindow.setContent(markers[i]['crowd']);
                infoWindow.setContent('<b>' + markers[i]['name'] + '</b><br>' + markers[i]['crowd']);
                infoWindow.open(map, marker);
            }
        })(marker, i));
    }
	}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
	{% endif %}
</head>
<body>
<main>
<div class='container-fluid'>
	<div class='row d-flex justify-content-center'>
		<div class='col pt-5 pb-5 mb-4 banner'>
			<h1>🎉 Party Wave 🌊</h1>
		</div>
	</div>

	<div class='row d-flex justify-content-center'>

		<div class="col mt-10">
			<div class="col-12">
				<form action="{{ url_for('spot') }}" method="post">
					Enter a spot:
					<select class="select-size-xs spot-select" name="spot_id">
						<option></option>
	          {% for choice in form.spot_id.choices %}
	          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
	          {% endfor %}
			    </select>
					<input type="submit" value="Submit">
				</form>
		  </div>

		  <br>

		  <div class="col-12">
				<form action="{{ url_for('area') }}" method="post">
					Or, select an area:
					<select class="select-size-xs area-select" name="area_id">
						<option></option>
	          {% for choice in form.area_id.choices %}
	          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
	          {% endfor %}
			    </select>
					<input type="submit" action="{{ url_for('area') }}" value="Submit">
				</form>
		  </div>
		  <br>
		  <div class="col-12">
		    Load an example of: <a href="demo-sparse">a sparse spot</a>  •  <a href="demo-party">a party wave</a>  •  <a href="demo-area">an entire area</a>
		  </div>
		</div>

	</div>

	<br>

	{% if area %}
	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
		  <div id="map_wrapper">
		    <div id="map_canvas" class="mapping"></div>
			</div>
		</div>
	</div>
	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
			<table class="table">
				<thead>
					<td>Name</td>
					<td>Location</td>
					<td>Height</td>
					<td>Tide</td>
					<td>Crowd</td>
				</thead>
				<tbody>
					{% for spot in area %}
					<tr>
						<td id='spot-name'>{{ spot.name }}</td>
						<td id='spot-location'>{{ spot.location }}</td>
						<td id='spot-height'>{{ spot.height }}</td>
						<td id='spot-tide'>{{ spot.tide }}</td>
						{% if spot.crowd == 'Gnarly' %}
						<td id='spot-crowd' style='color:darkred'>{{ spot.crowd }}</td>
						{% else %}
						<td id='spot-crowd'>{{ spot.crowd }}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
		</div>
	</div>

	{% endif %}

	{% if spot %}
	<div class='row d-flex justify-content-center'>	
		<div class="col mt-10">
			<table class="table">
				<tbody>
			    <tr>
			      <th id='spot-name'>Spot</th>
				    <td>{{ spot.name }}</td>
				  </tr>
			    <tr>
			      <th id='spot-location'>Location</th>
				    <td>{{ spot.location }}</td>
				  </tr>
			    <tr>
			      <th id='spot-height'>Height</th>
				    <td>{{ spot.height }}</td>
				  </tr>
			    <tr>
			      <th id='spot-tide'>Tide</th>
				    <td>{{ spot.tide }}</td>
				  </tr>
			    <tr>
			      <th id='spot-crowd'>Crowd</th>
				    <td>{{ spot.crowd }}</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	{% if spot.video != 'N/A' %}
	<video width="720" height="480" video controls loop autoplay>
  	<source src="{{ url_for('static', filename='video/') }}{{ spot.video }}" type="video/mp4">
  	<source src="{{ url_for('static', filename='video/') }}{{ spot.video }}.webm" type="video/webm">
	</video>
	{% endif %}
	{% endif %}
</div>


</div>
</main>
<footer class="footer">
      <div class="container text-center">
      	<div class="p-4">
	      	Made by <a href="https://www.linkedin.com/in/brianylin/" class="footer-link" target="_blank">Brian Lin</a> as an <a href="https://www.insightdatascience.com" class="footer-link" target="_blank">Insight Data Science</a> project. <a href="https://docs.google.com/presentation/d/1kDP8Nty-7x9YEE0tDsjG5jlWWydwUwn95JIATu809rk/edit#slide=id.g4b3098103f_0_46" class="footer-link" target="_blank">Slides here</a>.
	      </div>
      </div>
    </footer>
</body>
</html>
